#map { height: 680px; }

.leaflet-popup-content {
    margin: 0em 0 !important;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFF8DC;
}

.leaflet-popup-content p{
    margin: 0em 0 !important;
    color: #A52A2A;
    background-color: #FFF8DC;
}

#panel {  
    width: 50%;  
    /* padding: 20px;   */
    display: inline-block;  
    vertical-align: top;  
    line-height: 50px;  
}  

.range-slider {  
    width: 50%;  
    vertical-align: bottom;
}  

.step {  
    width: 10%;  
    vertical-align:bottom;
}  

.step img {  
    width: 40%; 
    vertical-align: middle; 
}  

#intervals {
    margin-left: 4.5%;
    text-align: left;
    
}
#intervalA{
    margin-left: 1.3%;
}
#intervalB{
    margin-left: 1.4%;
}
#intervalC{
    margin-left: 1.2%;
}
#intervalD{
    margin-left: 1.3%;
}
#intervalE{
    margin-left: 1.3%;
}
#intervalF{
    margin-left: 1.3%;
}
#end{
    margin-left: 1.4%;
}
